body {
    background: white;
}

html, body {
    height: 100%;
}

.container-table {
    height: 50%;
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

/*header {*/
/*background: #315981 !important;*/
/*}*/
/*footer {*/
/*position:absolute;*/
/*width: 100%;*/
/*bottom: 0px;*/
/*margin:0;*/
/*background: rgba(223, 223, 223, 0.96);*/
/*color: #315981;*/
/*}*/
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

input {
    outline: none;
    width: 100% !important;
}

.autofill-bg {
    position: relative;
    margin-top: -15px;
    margin-left: 0px;
    background: transparent !important;
    outline: none;
    float: left;
    border: 0px solid;
}

button {
    position: relative;
    top: 20px
}

/*@media (max-width: 500px) {*/
    /*input {*/
        /*width: 80% !important;*/
    /*}*/
/*}*/

#search {
    position: relative !important;
    outline: none !important;
    z-index: 0 !important;
    border: 0 solid;
}