.row-header{
	margin:0px auto;
	padding: 0px auto;
}

.row-content {
	margin: 0px auto;
	padding: 10px 0px 10px 0px;
	border-bottom: 2px ridge;
	min-height: 100px;
}

.row-footer {
	background: #335D87;
	color: floralwhite;
	margin: 30px 0;
	padding: 20px 0px 20px 0px;
}

.jumbotron {
	padding: 30px 30px 30px 30px;
	margin: 0px auto;
	background: #315981;
	color: floralwhite;
}

address{
	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
	background: #e0f8ff;
	font-family: Roboto, sans-serif;
}

.navbar-inverse {
     background: #303F9F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

.navbar-brand {
    font-size: large;
}

.btn-centered {
    margin-top: 15px;
}

#floating-panel {
	position: absolute;
	top: 1%;
	left: 1%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

#floating-panel2 {
	position: absolute;
	bottom: 1%;
	left: 1%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

#wrapper { position: relative; }
#over_map { position: absolute; top: 10px; left: 10px; z-index: 99; }
#map { 
	height: 500px;
	width: 95%;
}