.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
    border-bottom: 2px ridge;
    min-height: 100px;
}

.row-footer {
    background: #335D87;
    color: floralwhite;
    /*margin: 30px 0;*/
    padding: 20px 0px 20px 0px;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
    background: #e0f8ff;
    font-family: Roboto, sans-serif;
}

.navbar-inverse {
    background: #315981;
}

/*.navbar-inverse .navbar-nav > .active > a,*/
/*.navbar-inverse .navbar-nav > .active > a:hover,*/
/*.navbar-inverse .navbar-nav > .active > a:focus {*/
/*color: #fff;*/
/*background: #406fa3;*/
/*}*/

.navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
    background: #315981;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #406fa3;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: rgba(58, 88, 134, 0.82);
    color: #ffffff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #000000;
}

.navbar-brand {
    font-size: large;
    color: #fff !important;
}

.btn-centered {
    margin-top: 15px;
}

#find_by_adres {
    position: absolute;
    top: auto;
    bottom: 52px;
    left: 1%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#gps_button {
    position: absolute;
    bottom: 1%;
    left: 1%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#wrapper {
    position: relative;
}

#add_button {
    position: absolute;
    top: -15px;
    left: 5px;
    z-index: 9;
}

#map {
    height: 450px;
    width: 95%;
}

/*.dl-horizontal dt {*/
/*width: 40%;*/
/*float: left;*/

/*}*/

/*.dl-horizontal dd {*/
/*margin-left: 40%;*/
/*}*/

.panel-body {
    padding: 5px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

@media (min-width: 768px) and (max-width: 1000px) {
    .under-navbar {
        margin-top: 100px !important;
    }
}

.under-navbar {
    max-width: 100% !important;
}

dl {
    width: 100%;
    overflow: hidden;
    /*background: #eaeaea;*/
    padding: 0;
    margin: 0
}

dt {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    background: gainsboro;
    padding: 4px 0;
    margin: 4px 0;
}

dd {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    background: #eaeaea;
    padding: 4px 0;
    margin: 4px 0;
}

.badge-danger {
    background-color: #d43f3a;
}

.badge-warning {
    background-color: #d58512;
}

.badge-success {
    background-color: #398439;
}

.badge-info {
    background-color: #269abc;
}

.badge-primary {
    background-color: #3f69bc;
}
.badge-inverse {
    background-color: #333333;
}

/*Table*/
@media (max-width: 500px) {
    .hidden-500 {
        display: none !important;
    }

    .table-500 {
        font-size: 12px !important;
    }
}

.mobile-table {
    table-layout: fixed;
    word-wrap: break-word;
}