{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row" style="padding-top: 10px;">
            <div class="col-sm-6">
                <h2>Часто задаваемые вопросы.</h2>

                <h3>Насколько точны данные на карте?</h3>

                <p>Ответ: Метки на картах установлены максимально точно по координатам. Однако поиск по адресам
                    использует данные Google Maps, которые не всегда точны. Ориентируйтесь по нанесенным на карту
                    меткам.</p>
            </div>
            <div class="col-sm-6" style="padding-top: 10px;">
                <a class="btn btn-primary" href="{{ url_for('comment_new_general') }}" role="button">Добавить
                    вопрос/комментарий</a>
            </div>
        </div>
        <h3>Текущие комментарии:</h3>
        <table class="table table-striped">
            {% for post in posts %}
                <tr>
                    <td>{{ post.content }}</td>
                    {% if post.author %}
                        <td>{{ post.author }}</td>
                    {% else %}
                        <td>Аноним</td>
                    {% endif %}
                    <td>{{ post.org }}</td>
                    <td>{{ post.category }}</td>
                    <td>{{ momentjs(post.when).fromNow() }}</td>
                    <td>{{ momentjs(post.when).format('LLLL') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}