{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="/app/css/tags.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="/app/js/tags.js"></script>
    <script type="text/javascript" src="/app/js/autofill.js"></script>

    <script>
        $(function () {
            var tags = "{{ all_tags | safe }}";
            tags = tags.split(',');
            tags = tags.sort();
            $("#testInput").tags({
                unique: true
            }).autofill({data: tags});
        });
        $(document).ready(function () {
            $('form input').keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>
    <form action="{{ url_for('secret_get_allTags') }}" method="post" accept-charset="utf-8">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="testInput">Тэги</label>
            <input class="form-control" type="text" name="tags" id="testInput" value="{{ form.tags.data }}"/>
        </div>
        <input class="btn btn-default" type="submit" name="btn" value="Сохранить"/>
    </form>
{% endblock %}