<!DOCTYPE html>
<html>
<head>
	<title>Изобильный</title>
    <meta content='изопоиск, izopoisk, магазины, услуги, товары, цены, Изобильный, изобильный, пиво, пицца, пица, доставка, купить, Ставропольский край' name='keywords'/>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/js/moment.min.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
  	<link href="/css/mystyles.css" rel="stylesheet" type="text/css">
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
{#    <link rel="stylesheet" href="/css/tags.css">#}
{#    <script type="text/javascript" src="/js/autofill.js"></script>#}
{#    <script type="text/javascript" src="/js/tags.js"></script>#}
</head>


<body>
    <script>
        var locale = window.navigator.userLanguage || window.navigator.language;
        moment.locale(locale);
    </script>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}"><span style="color:orangered">И</span>зобильный</a>
        </div>
        <div class="container" style="min-width: 100%">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% for cat_group in categories %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                             role="button" aria-haspopup="true" aria-expanded="false">
                             {{ cat_group.rus_title }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              {% for eng, rus in cat_group.categs.items() %}
                                  <li id="{{ eng }}"><a href="{{  url_for('category', category_eng=eng) }}">{{ rus }}</a></li>
                              {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    {% for cat_group in categories_callable %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                             role="button" aria-haspopup="true" aria-expanded="false">
                             {{ cat_group.rus_title }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              {% for eng, rus in cat_group.categs.items() %}
                                  <li id="{{ eng }}"><a href="{{  url_for('category', category_eng=eng) }}">{{ rus }}</a></li>
                              {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

	{% block content %}

	{% endblock %}


</body>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter36077980 = new Ya.Metrika({
                    id:36077980,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/36077980" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</html>







