
    {#GOOGLE MAPS#}
    <script>
      var map;
      var markers = [];
      var new_markers_array = [];
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 45.367557, lng: 41.711604},
          zoom: 13,
          minZoom: 13,
          disableDefaultUI: true,
          scaleControl: true,
          zoomControl: true,
          draggable: true,
          scrollwheel: true,
        });
          // Получает JSON от БД и в цикле добавляет маркер в массив маркеров.
          var posts = {{ posts | tojson | safe }};
          var geocoder = new google.maps.Geocoder();
            addMarkerstoMap(posts);
          // Listeners
          // Определение своего местоположения. Вызывается функция GetLocation
          document.getElementById('my_location_button').addEventListener('click', function () {
              navigator.geolocation.getCurrentPosition(GetLocation, Error, {enableHighAccuracy: true});
              addMarkerstoMap(posts);
          });
          // Обработка ввода улицы.
          document.getElementById('submit').addEventListener('click', function () {
              geocodeAddress(geocoder, map);
              addMarkerstoMap(posts)
          });
          // Обработка клика по карте - создание маркера.

          map.addListener('click', function (event) {
              geocodeLatLng(event.latLng);
              addMarkerstoMap(posts)
          });
      }

        function addMarkerstoMap(posts) {
            for (var i = 0; i < posts.length; i++) {
                var post = posts[i];
                add(post);
                function add (post) {
                          if (post.location) {
                              var myLatLng = {lat: post.location.lat, lng: post.location.lng};
                                var marker1 = new google.maps.Marker({
                                  position: myLatLng,
                                  map: map
                                });
                                var adress = post.adres.split(', Изобильный')[0];
                                var rating = post.rating;
                                if (post.description) {
                                    var description = post.description.replaceAll('\n','<br>');
                                } else {
                                    var description = ''
                                }
                                var content = "<div class='panel panel-info'><div class='panel-heading'><h3 class='panel-title'>"+post.title+"</h3></div>" +
                                        "<div class='panel-body'>" +
                                        "<div>Адрес: "+adress+"</div>" +
                                        "<div>Телефон: "+post.phonenumber+", "+post.phonenumber_static+"</div>" +
                                        "<div>Рейтинг: "+post.rating+"</div>" +
                                        "<div>Изменено: "+moment.unix(post.when_modified).format('LLL')+"</div>" +
                                        "</div>" +
                                        "<div class='panel-footer'>" + post.description + "</div></div>" +
                                        "<a href='/edit_org/"+post.id+"'>Редактировать</a>" + "<br>" +
                                        "<a href='/del_org/"+post.id+"'>Удалить</a>";
                                var infowindow1 = new google.maps.InfoWindow({content: content});
                                infowindow1.setZIndex(10);
                                marker1.addListener('click', function() {infowindow1.open(map, marker1);});
                                markers.push(marker1);
                                }
                    }
        }}

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value + ", Изобильный, Ставропольский край, Россия";
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            resultsMap.setCenter(results[0].geometry.location);
              map.setZoom(18);
              clearNewMarkers();
              var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
            var marker_new = new google.maps.Marker({
              map: resultsMap,
                icon: image,
              position: results[0].geometry.location
            });
              new_markers_array.push(marker_new);
              document.getElementById("adres").value = address;
              document.getElementById("lat").value = results[0].geometry.location.lat();
              document.getElementById("lng").value = results[0].geometry.location.lng();
          } else {
            alert('Поиск не удался: ' + status);
          }
        });
      }

      function geocodeLatLng(location) {
          var geocoder = new google.maps.Geocoder();
          geocoder.geocode({'location': location}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
              if (results[0]) {
                  var address = results[0].formatted_address;
                  document.getElementById("adres").value = address;
                  document.getElementById("lat").value = location.lat();
                  document.getElementById("lng").value = location.lng();
                  var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
                  clearNewMarkers();
                  var marker_new = new google.maps.Marker({
                          position: location,
                            icon: image,
                          map: map
                        });
                  var infowindow = new google.maps.InfoWindow();
                    infowindow.setContent(address);
                    infowindow.open(map, marker_new);
                  new_markers_array.push(marker_new);
              } else {
                console.log('Ничего не найдено');
              }
            } else {
              console.log('Геопоиск не удался из-за: ' + status);
            }
          });
        }

      function GetLocation(location) {
            if (location.coords.accuracy > 15) {
                $('#accuracy').text("Точность местоопределения очень низкая. Пожалуйста, включите GPS и выйдите на улицу.");
            } else {

                initialLocation = new google.maps.LatLng(location.coords.latitude,location.coords.longitude);
                map.setCenter(initialLocation);
                map.setZoom(18);
                clearNewMarkers();
                var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
                var marker_new = new google.maps.Marker({
                  position: initialLocation,
                    icon: image,
                    map: map,
                  title:"Вы находитесь здесь!"
                });
                var infowindow = new google.maps.InfoWindow();
                infowindow.setContent("Вы находитесь здесь!<br>Точность местоопределения: " + location.coords.accuracy);
                infowindow.open(map, marker_new);
                new_markers_array.push(marker_new);
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({'location': initialLocation}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                  if (results[0]) {
                      document.getElementById("adres").value = results[0].formatted_address;
                      document.getElementById("lat").value = initialLocation.lat();
                      document.getElementById("lng").value = initialLocation.lng();}}});
            }
        }
      // Фунцкия для тотальной замены (в частности, переводов строки в описании маркера)
      String.prototype.replaceAll = function(search, replace){
          return this.split(search).join(replace);
        };

      function clearNewMarkers() {
            for (var i = 0; i < new_markers_array.length; i++) {
                new_markers_array[i].setMap(null);
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgm2-ORIhtHlegZTKlPt2TqkOS7cQb2iM&callback=initMap"
        async defer></script>