{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-sm-6" align="center">
                <h4>{{ org.title }}</h4>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ org.title }}</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl">
                            {% if org.adres %}
                                <dt>Адрес</dt>
                                {% set adres_short = org.adres.split(', Изобильный')[0] %}
                                <dd>{{ adres_short }}
                                    {% if org.adres_details %}
                                        <strong><i> ({{ org.adres_details }})</i></strong>
                                    {% endif %}
                                </dd>
                            {% endif %}

                            {% if g.user.is_admin %}
                                {% if org.tags|join(", ") %}
                                    <dt>Тэги</dt>
                                    <dd>{{ org.tags|join(", ") }}</dd>
                                {% endif %}
                            {% endif %}

                            {% if org.phonenumber|join(", ") %}
                                <dt>Телефон (моб.)</dt>
                                <dd>
                                    {% set comma = joiner(", ") %}
                                    {% for number in org.phonenumber %}
                                        {{ comma() }}<a href="tel: 8{{ number }}">
                                        <nobr>{{ number }}</nobr>
                                    </a>
                                    {% endfor %}
                                </dd>
                            {% endif %}

                            {% if org.phonenumber_static|join(", ") %}
                                <dt>Телефон (гор.)</dt>
                                <dd>
                                    {% set comma = joiner(", ") %}
                                    {% for number in org.phonenumber_static %}
                                        {{ comma() }}<a href="tel: 886545{{ number }}">
                                        <nobr>{{ number }}</nobr>
                                    </a>
                                    {% endfor %}
                                </dd>
                            {% endif %}
                            {% if org.delivery %}
                                <dt>Доставка</dt>
                                {% if org.delivery_terms %}
                                    <dd>{{ org.delivery_terms }}</dd>
                                {% else %}
                                    <dd>Есть</dd>
                                {% endif %}
                            {% endif %}
                            {% if org.daynight %}
                                <dt>Работает круглосуточно</dt>
                                <dd>Да</dd>
                            {% endif %}
                            {% if org.working_hours %}
                                <dt>Режим работы</dt>
                                <dd>{{ org.working_hours }}</dd>
                            {% endif %}
                            {#                            <dt>Дата добавления</dt>#}
                            {#                            <dd>{{ momentjs(org.when_added).fromNow() }}</dd>#}
                            {#                            <dt>Дата изменения</dt>#}
                            {#                            <dd>{{ momentjs(org.when_modified).fromNow() }}</dd>#}
                            <dt>Рейтинг</dt>
                            <dd>{{ org.rating }}</dd>
                        </dl>
                    </div>
                    <div class="panel-footer">
                        <h4>{{ org.description|nl2br }}</h4>
                    </div>
                </div>


            </div>
            <!-- Like and comments -->
            <div class="col-sm-6" style="margin-top: 20px">
                <a id="like"
                   tabindex="0"
                   class="btn btn-info pull-left"
                   href="#"
                   role="button"
                   data-toggle="popover"
                   data-trigger="manual"
                   data-placement="bottom"
                   data-container="body"
                        {#                   onclick="return confirm('Вы уверены?')"#}
                        >
                    <span class="glyphicon glyphicon-thumbs-up"
                          aria-hidden="true">
                    </span> Мне нравится! <span id="rating" class="badge">{{ org.rating }}</span>
                </a>

                <form class="form" action="#" method="post" role="form">
                    <div class="form-group" align="center">
                        <label style="font-size: 20px" for="comment">
                            Какой информации не хватает на этой странице?<br>
                            Или может быть представленная информация неверна?
                        </label>
                        <input type="text" id="comment" name="comment" class="form-control"
                               placeholder="Ваш комментарий" required>
                        <input type="hidden" name="category" class="form-control" value={{ org.category }}>
                        <input type="hidden" name="organization_id" class="form-control" value={{ org.id }}>
                        <button id="comment-button" class="btn btn-lg btn-primary btn-block" type="button">Отправить
                        </button>
                    </div>
                </form>

                <div class="row">
                    <div class="col-sm-12">
                        <h4 id="new_comment"></h4>

                        <div id="comments"></div>
                    </div>
                </div>

            </div>

            <!-- Map-Modal -->
            {% if org.location.lat %}
                <div>
                    <!-- Button trigger modal -->
                    <button id="showMap" type="button" class="btn btn-warning btn-lg" data-toggle="modal"
                            data-target="#myModal"
                            style="position: fixed; z-index: 999; bottom: 3px; right: 5px">
                        <i class="fa fa-map-o" aria-hidden="true"></i> Показать<br>на карте
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header row">
                                    <div class="col-sm-3 pull-right">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span
                                                aria-hidden="true">Закрыть&nbsp;&nbsp;&times;</span></button>
                                    </div>
                                    <div class="col-sm-9">
                                        <button id="zoomin_input" type="button" class="btn btn-warning">Приблизить
                                            объект
                                        </button>
                                        <h4 id="modal_header_text" style="margin-bottom: 0"><a id="guide_link"
                                                                                               href="/guide_geolocation">Почему
                                            не отображается мое местоположение на карте?</a></h4>
                                    </div>

                                </div>
                                <div class="modal-body">
                                    <div id="wrapper">
                                        <div id="map">
                                            Google Maps
                                        </div>
                                        <div id="accuracy" align="center" style="background-color: red;">
                                            <strong></strong>
                                        </div>
                                        <div id="gps_button_group">
                                            <input id="address" type="textbox" value="" placeholder="ул. Ленина 10">
                                            <input id="submit_address" type="button" value="Искать">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Закрыть карту
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include 'base_map.html' %}
                </div>
            {% endif %}
        </div>
    </div>

    <script>
        $('#myModal').on('shown.bs.modal', function () {
            var currentCenter = map.getCenter();  // Get current center before resizing
            google.maps.event.trigger(map, "resize");
            map.setCenter(currentCenter); // Re-set previous center
        });
    </script>

    <script>
        $(document).ready(function () {
            all_comments();
            $('#comment-button').click(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '{{ url_for("comment_new_details") }}',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function (response) {
                        console.log(response);
                        var data = JSON.parse(response);
                        document.getElementById("new_comment").innerHTML = data.comment;
                        all_comments();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                {#                all_comments();#}
            });
        });

        var id = {{ org.id | safe }};
        var all_comments = function () {
            $.ajax({
                url: '{{ url_for("get_comments_by_org") }}',
                data: {'organization_id': id},
                type: 'GET',
                success: function (response) {
                    console.log(response);
                    var data = JSON.parse(response);
                    var news = document.getElementById("comments");
                    news.innerHTML = '';
                    for (var i = 0; i < data.comments.length; i++) {
                        var h5 = document.createElement("h5");
                        h5.innerHTML = data.comments[i].content + '(' + moment.unix(data.comments[i].when).format('LLL') + ')';
                        news.appendChild(h5);
                        var p = document.createElement("cite");
                        p.innerHTML = data.comments[i].author;
                        p.align = 'right';
                        news.appendChild(p);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })
        };

        $(function () {
            $('#like').click(function (event) {
                event.preventDefault();
                $('#like').popover('destroy');
                $.ajax({
                    url: '/like',
                    data: {organization_id: id},
                    type: 'GET',
                    success: function (response) {
                        console.log(response);
                        var data = JSON.parse(response);
                        if (data.rating_plus) {
                            document.getElementById("rating").innerHTML = data.rating_plus;
                            $('#like')
                                    .popover({
                                        trigger: 'manual',
                                        html: true,
                                        title: '<i class="fa fa-thumbs-up" aria-hidden="true"></i> Вы ОТДАЛИ свой голос!',
                                    })
                                    .popover('show');
                        }
                        if (data.rating_minus) {
                            document.getElementById("rating").innerHTML = data.rating_minus;
                            $(function () {
                                $('#like')
                                        .popover({
                                            {#                                        trigger: 'manual',#}
                                            html: true,
                                            title: '<i class="fa fa-thumbs-down" aria-hidden="true"></i> Вы ЗАБРАЛИ свой голос!',
                                        })
                                        .popover('show');
                            })
                        }
                        if (data.notlogin) {
                            console.log('Вы не вошли');
                            $(function () {
                                $('#like')
                                        .popover({
                                            {#                                        trigger: 'manual',#}
                                            html: true,
                                            title: '<strong>Вы не можете изменять рейтинги, потому что не вошли на сайт под аккаунтом!</strong>',
                                            content: 'Если у вас нет аккаунта - зарегистрируйтесь или войдите через социальные сети.<br>Смотрите в верхнем правом углу экрана.',
                                        })
                                        .popover('show');
                            })

                        }

                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
        $(document).on('click', function (e) {
            $('#like').popover('hide');
        });
    </script>
    {#    Скрипт для tooltip#}
    {#    <script>#}
    {#        $(function () {#}
    {#            $('[data-toggle="tooltip"]').tooltip()#}
    {#        })#}
    {#    $(document).ready(function(){#}
    {#      $('[data-toggle="popover"]').popover();#}
    {#    });#}
    {#    </script>#}

{% endblock %}

