{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            {# // Карта#}
            <div class="col-sm-6" align="center">
                <h4>{{ org.title }}</h4>
                {% if org.location.lat %}
                    <div class="row well" id="wrapper">
                        <div id="map">
                            Google Maps
                        </div>
                        <div id="accuracy" align="center" style="background-color: red;"><strong></strong></div>
                        <div id="gps_button_group">
                            <input id="address" type="textbox" value="" placeholder="ул. Ленина 10">
                            <input id="submit_address" type="button" value="Искать">
                            <input id="gps_input" type="button" value="Определить себя по GPS">
                            <input id="zoomin_input" type="button" value="Приблизить">
                        </div>
                    </div>

                    {% include 'base_map.html' %}
                {% endif %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ org.title }}</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl">
                            {% if org.adres %}
                                <dt>Адрес</dt>
                                {% set adres_short = org.adres.split(', Изобильный')[0] %}
                                <dd>{{ adres_short }}
                                    {% if org.adres_details %}
                                        <strong><i> ({{ org.adres_details }})</i></strong>
                                    {% endif %}
                                </dd>
                            {% endif %}

                            {% if org.tags|join(", ") %}
                                <dt>Тэги</dt>
                                <dd>{{ org.tags|join(", ") }}</dd>
                            {% endif %}

                            {% if org.phonenumber|join(", ") %}
                                <dt>Телефон (моб.)</dt>
                                <dd>
                                    {% set comma = joiner(", ") %}
                                    {% for number in org.phonenumber %}
                                        {{ comma() }}<a href="tel: 8{{ number }}">
                                        <nobr>{{ number }}</nobr>
                                    </a>
                                    {% endfor %}
                                </dd>
                            {% endif %}

                            {% if org.phonenumber_static|join(", ") %}
                                <dt>Телефон (гор.)</dt>
                                <dd>
                                    {% set comma = joiner(", ") %}
                                    {% for number in org.phonenumber_static %}
                                        {{ comma() }}<a href="tel: 886545{{ number }}">
                                        <nobr>{{ number }}</nobr>
                                    </a>
                                    {% endfor %}
                                </dd>
                            {% endif %}
                            {% if org.delivery %}
                                <dt>Доставка</dt>
                                {% if org.delivery_terms %}
                                    <dd>{{ org.delivery_terms }}</dd>
                                {% else %}
                                    <dd>Есть</dd>
                                {% endif %}
                            {% endif %}
                            {% if org.daynight %}
                                <dt>Работает круглосуточно</dt>
                                <dd>Да</dd>
                            {% endif %}
                            {% if org.working_hours %}
                                <dt>Режим работы</dt>
                                <dd>{{ org.working_hours }}</dd>
                            {% endif %}
                            {#                            <dt>Дата добавления</dt>#}
                            {#                            <dd>{{ momentjs(org.when_added).fromNow() }}</dd>#}
                            {#                            <dt>Дата изменения</dt>#}
                            {#                            <dd>{{ momentjs(org.when_modified).fromNow() }}</dd>#}
                            <dt>Рейтинг</dt>
                            <dd>{{ org.rating }}</dd>
                        </dl>
                    </div>
                    <div class="panel-footer">
                        <h4>{{ org.description|nl2br }}</h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" style="margin-top: 20px">
                <a id="like"
                   tabindex="0"
                   class="btn btn-info pull-right"
                   href="#"
                   role="button"
                   data-toggle="popover"
                   data-trigger="focus"
                   data-placement="top"
                   data-container="body">
                    <span
                        class="glyphicon glyphicon-thumbs-up"
                        aria-hidden="true">
                    </span> Мне нравится! <span id="rating" class="badge">{{ org.rating }}</span>
                </a>

                <form class="form" action="#" method="post" role="form">
                    <div class="form-group" align="center">
                        <label style="font-size: 20px" for="comment">
                            Какой информации не хватает на этой странице?<br>
                            Или может быть представленная информация неверна?
                        </label>
                        <input type="text" id="comment" name="comment" class="form-control"
                               placeholder="Ваш комментарий" required>
                        <input type="hidden" name="category" class="form-control" value={{ org.category }}>
                        <input type="hidden" name="organization_id" class="form-control" value={{ org.id }}>
                        <button id="comment-button" class="btn btn-lg btn-primary btn-block" type="button">Отправить
                        </button>
                    </div>
                </form>

                <div class="row">
                    <div class="col-sm-12">
                        <h4 id="new_comment"></h4>

                        <div id="comments"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="notlogin" style="display: none;">
        <a href="{{ url_for("login") }}"><strong>Войти</strong></a>
        <br>
        <a href="#"><strong>У меня нет аккаунта</strong></a>
    </div>

    <script>
        $(document).ready(function () {
            all_comments();
            $('#comment-button').click(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '/add_comment',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function (response) {
                        console.log(response);
                        var data = JSON.parse(response);
                        document.getElementById("new_comment").innerHTML = data.comment;
                        all_comments();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                {#                all_comments();#}
            });
        });

        var id = {{ org.id | safe }};
        var all_comments = function () {
            $.ajax({
                url: '/get_comments_by_org',
                data: {'organization_id': id},
                type: 'GET',
                success: function (response) {
                    console.log(response);
                    var data = JSON.parse(response);
                    var news = document.getElementById("comments");
                    news.innerHTML = '';
                    for (var i = 0; i < data.comments.length; i++) {
                        var h5 = document.createElement("h5");
                        h5.innerHTML = data.comments[i].content + '(' + moment.unix(data.comments[i].when).format('LLL') + ')';
                        news.appendChild(h5);
                        var p = document.createElement("p");
                        p.innerHTML = data.comments[i].author;
                        p.align = 'right';
                        news.appendChild(p);
                    }

                },
                error: function (error) {
                    console.log(error);
                }
            })
        };

        {#        $(function () {#}
        {#            $('#comment-button').click(function (event) {#}
        {#                event.preventDefault();#}
        {#                $.ajax({#}
        {#                    url: '/add_comment',#}
        {#                    data: $('form').serialize(),#}
        {#                    type: 'POST',#}
        {#                    success: function (response) {#}
        {#                        console.log(response);#}
        {#                        var data = JSON.parse(response);#}
        {#                        document.getElementById("new_comment").innerHTML = data.comment;#}
        {#                    },#}
        {#                    error: function (error) {#}
        {#                        console.log(error);#}
        {#                    }#}
        {#                });#}
        {#                all_comments();#}
        {#            });#}
        {#        });#}

        $(function () {
            $('#like').click(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '/like',
                    data: {organization_id: id},
                    type: 'GET',
                    success: function (response) {
                        console.log(response);
                        var data = JSON.parse(response);
                        if (data.rating) {
                            document.getElementById("rating").innerHTML = data.rating;
                            $('#like')
                                    .popover('destroy')
                                    .popover({
{#                                        html: true,#}
                                        title: 'Вы успешно подняли рейтинг!',
                                    })
                                    .popover('show');
                        }
                        if (data.repeat) {
                            $('#like')
{#                                    .popover('destroy')#}
                                    .popover({
{#                                        html: true,#}
                                        title: 'Голосовать разрешается только один раз!',
                                        delay: 200
                                    })
                                    .popover('show');
                        }
                        if (data.notlogin) {
                            console.log('Вы не вошли');
                            $('#like')
                                    .popover('destroy')
                                    .popover({
                                        html: true,
                                        title: 'Чтобы повышать рейтинги, войдите на сайт под аккаунтом!',
                                        content:$('#notlogin').html(),
                                    })
                                    .popover('show');
                        }

                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });

    </script>
    {#    Скрипт для tooltip#}
    <script>
{#        $(function () {#}
{#            $('[data-toggle="tooltip"]').tooltip()#}
{#        })#}
{#    $(document).ready(function(){#}
{#      $('[data-toggle="popover"]').popover();#}
{#    });#}
    </script>

{% endblock %}

