{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            {# // Карта#}
            <div class="col-sm-6" align="center">
                <h4>{{ org.title }}</h4>
                {% if org.location.lat %}
                    <div class="row" id="wrapper">
                        <div id="map">
                            Google Maps
                        </div>
                        <div id="find_by_adres" style="margin-left: 10px">
                            <input id="address" type="textbox" value="" placeholder="ул. Ленина 10">
                            <input id="submit" type="button" value="Искать">
                        </div>
                        <div id="gps_button" style="margin-left: 10px">
                            <input id="my_location_button" type="button" value="Определить по GPS">
                        </div>
                    </div>
                    <div id="accuracy"></div>
                    {% include 'base_map.html' %}
                {% endif %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ org.title }}</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl">
                            {% if org.adres %}
                                <dt>Адрес</dt>
                                {% set adres_short = org.adres.split(', Изобильный')[0] %}
                                <dd>{{ adres_short }}
                                    {% if org.adres_details %}
                                        <strong><i> ({{ org.adres_details }})</i></strong>
                                    {% endif %}
                                </dd>
                            {% endif %}

                            {% if org.tags|join(", ") %}
                                <dt>Тэги</dt>
                                <dd>{{ org.tags|join(", ") }}</dd>
                            {% endif %}

                            {% if org.phonenumber|join(", ") %}
                                <dt>Телефон (моб.)</dt>
                                <dd>
                                    {% set comma = joiner(", ") %}
                                    {% for number in org.phonenumber %}
                                        {{ comma() }}<a href="tel: 8{{ number }}">
                                        <nobr>{{ number }}</nobr>
                                    </a>
                                    {% endfor %}
                                </dd>
                            {% endif %}

                            {% if org.phonenumber_static|join(", ") %}
                                <dt>Телефон (гор.)</dt>
                                <dd>
                                    {% set comma = joiner(", ") %}
                                    {% for number in org.phonenumber_static %}
                                        {{ comma() }}<a href="tel: 886545{{ number }}">
                                        <nobr>{{ number }}</nobr>
                                    </a>
                                    {% endfor %}
                                </dd>
                            {% endif %}
                            {% if org.delivery %}
                                <dt>Доставка</dt>
                                {% if org.delivery_terms %}
                                    <dd>{{ org.delivery_terms }}</dd>
                                {% else %}
                                    <dd>Есть</dd>
                                {% endif %}
                            {% endif %}
                            {% if org.daynight %}
                                <dt>Работает круглосуточно</dt>
                                <dd>Да</dd>
                            {% endif %}
                            {% if org.working_hours %}
                                <dt>Режим работы</dt>
                                <dd>{{ org.working_hours }}</dd>
                            {% endif %}
                            {#                            <dt>Дата добавления</dt>#}
                            {#                            <dd>{{ momentjs(org.when_added).fromNow() }}</dd>#}
                            {#                            <dt>Дата изменения</dt>#}
                            {#                            <dd>{{ momentjs(org.when_modified).fromNow() }}</dd>#}
                            <dt>Рейтинг</dt>
                            <dd>{{ org.rating }}</dd>
                        </dl>
                    </div>
                    <div class="panel-footer">
                        <h4>{{ org.description|nl2br }}</h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" style="margin-top: 20px">
                <a class="btn btn-info pull-right" href="#" role="button" data-toggle="tooltip" data-placement="top"
                   title="Нажмите, чтоб повысить им рейтинг"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">
                    </span>  Мне нравится! <span class="badge">{{ org.rating }}</span></a>
                <form class="form"
                      action="{{ url_for('new_comment', category=org.category, organization_id=org.id) }}" method="post"
                      role="form">
                    <div class="form-group" align="center">
                        <label style="font-size: 20px" for="comment">
                            Какой информации не хватает на этой странице?<br>
                            Или может быть представленная информация неверна?
                        </label>
                        <input type="text" id="comment" name="comment" class="form-control"
                               placeholder="Ваш комментарий" required>
                        <input type="hidden" name="category" class="form-control" value={{ org.category }}>
                        <input type="hidden" name="organization_id" class="form-control" value={{ org.id }}>
                        <button class="btn btn-lg btn-primary btn-block" type="button">Отправить</button>
                    </div>
                </form>

                <div class="row">
                    <p id="new_comment"></p>
                    <span id="comments"></span>
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            all_comments();
        });

        var id = {{ org.id | safe }};

        var all_comments = function () {
            $.ajax({
                url: '/get_comments_by_org',
                data: {'organization_id': id},
                type: 'GET',
                success: function (response) {
                    console.log(response);
                    var data = JSON.parse(response);
                    var string_comments = '';
                    for (var i = 0; i < data.comments.length; i++) {
                        string_comments += data.comments[i].content + '<br>'
                    }
                    document.getElementById("comments").innerHTML = string_comments;
                },
                error: function (error) {
                    console.log(error);
                }
            })
        };

        $(function () {
            $('button').click(function () {
                {#        var comment = $('#txtUsername').val();#}
                $.ajax({
                    url: '/add_comment',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function (response) {
                        console.log(response);
                        var data = JSON.parse(response);
                        document.getElementById("new_comment").innerHTML = data.comment;
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                all_comments();
            });
        });
    </script>
{#    Скрипт для tooltip#}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}

