{% extends "base.html" %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h1>У меня мобильное устройство</h1>

                <h2>Как узнать, что функция местоопределения у меня работает?</h2>


                <ol>
                    <li>Когда у Вас открыта карта, посмотрите на верхний правый угол. Если там среди прочих значков
                        должна отображаться "перевернутая капля", это значит функция местоопределения работает и нужно подождать.
                        <img src="/images/android_icon.jpg" class="img-responsive" alt="Responsive image">
                    </li>
                    <li>Чтобы ускорить процесс и улучшить точность местоопределения поднесите устройство к окну или
                        выйдите
                        на улицу. Надпись "Недостаточная точность" должна смениться на "Вы нашлись".
                    </li>
                    <li>Иконка (смайлик) вашего местоположения может перемещаться по карте по мере повышения точности
                        местоопределения
                    </li>
                    <li>Если при открытии карты значок "перевернутая капля" не появляется, значит переходите к разделу
                        "Как включить функцию местоопределения?"
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Как включить функцию местоопределения?</h2>
                <ol>
                    <li>Убедитесь, что в настройках устройства включена функция "Мое местоположение"-"Доступ к моим
                        геоданным" и стоит галочка "По спутникам GPS".
                        <img src="/images/android_settings_min.jpg" class="img-responsive" alt="Responsive image">
                    </li>
                    <li>При открытии карты Вы должны были разрешить браузеру использовать Ваше местоположение. Если Вы
                        этого не сделали, то очистите все настройки для этого сайта в вашем браузере, следуя инструкциям ниже.
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Как очистить настройки местоопределения в браузере?</h2>
                <ol>
                    <li><strong>Chrome:</strong>
                        <br>нажать кнопку меню ("три точки") вверху, справа
                        <img src="/images/yandex.jpg" class="img-responsive" alt="Responsive image" style="display: inline;"> ->
                        <br>нажать кнопку "i в кружке" ->
                        <br>нажать НАСТРОЙКИ САЙТА ->
                        <br>нажать ОЧИСТИТЬ И СБРОСИТЬ ->
                        <br>нажмите на кнопку возврата внизу, слева
                        <img src="/images/back.jpg" class="img-responsive" alt="Responsive image" style="display: inline;">
                        пока не вернетесь к странице с кнопкой "Показать на карте"
                    </li>
                    <li><strong>Yandex:</strong>
                        <br>нажать кнопку меню ("три точки") внизу, справа
                        <img src="/images/yandex.jpg" class="img-responsive" alt="Responsive image" style="display: inline;"> ->
                        <br>нажать НАСТРОЙКИ ->
                        <br>нажать ОЧИСТИТЬ ДАННЫЕ ->
                        <br>поставить галочку напротив ПРЕДУПРЕЖДЕНИЯ ДЛЯ САЙТОВ ->
                        <br>нажать ОЧИСТИТЬ ДАННЫЕ, ->
                        <br>нажимать на кнопку возврата внизу, слева
                        <img src="/images/back.jpg" class="img-responsive" alt="Responsive image" style="display: inline;">
                        пока не вернетесь к странице с кнопкой "Показать на карте"
                    </li>
                    <li><strong>Opera Mini:</strong>
                        <br>нажать кнопку-значок Opera внизу, справа
                        <img src="/images/opera.jpg" class="img-responsive" alt="Responsive image" style="display: inline;"> ->
                        <br>нажать НАСТРОЙКИ ->
                        <br>нажать ОЧИСТИТЬ ИСТОРИЮ ПОСЕЩЕНИЙ ->
                        <br>поставить галочку напротив ОЧИСТИТЬ ФАЙЛЫ COOKIE... ->
                        <br>нажать OK ->
                        <br>нажимать на кнопку возврата внизу, слева
                        <img src="/images/back.jpg" class="img-responsive" alt="Responsive image" style="display: inline;">
                        пока не вернетесь к странице с кнопкой "Показать на карте"
                    </li>
                    <li><strong>Dolphin:</strong>
                        <br>перейти в начало страницы ->
                        <br>появится кнопка-значок Dolphin внизу, посередине
                        <img src="/images/dolphin.jpg" class="img-responsive" alt="Responsive image" style="display: inline;"> ->
                        <br>нажать УДАЛИТЬ ДАННЫЕ ->
                        <br>поставить галочку напротив МЕСТОПОЛОЖЕНИЕ ->
                        <br>нажать УДАЛИТЬ ВЫБРАННЫЕ ДАННЫЕ ->
                        <br>нажимать на кнопку возврата внизу, слева
                        <img src="/images/back.jpg" class="img-responsive" alt="Responsive image" style="display: inline;">
                        пока не вернетесь к странице с кнопкой "Показать на карте"
                    </li>
                    <li><strong>UC browser:</strong>
                        <br>Использовать не рекомендуется. Отсутствует возможность очищать настройки.
                    </li>
            </div>
        </div>
    </div>
{% endblock %}