{% extends "base.html" %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h1>У меня мобильное устройство</h1>

                <h2>Как узнать, что функция местоопределения у меня работает?</h2>


                <ol>
                    <li>Когда у Вас открыта карта, посмотрите на верхний правый угол. Если там среди прочих значков
                        отображается "перевернутая капля", значит функция местоопределения работает и нужно подождать.
                        <img src="/images/android_icon.jpg" class="img-responsive" alt="Responsive image">
                    </li>
                    <li>Чтобы ускорить процесс и улучшить точность местоопределения поднесите устройство к окну или
                        выйдите
                        на улицу. Надпись "Недостаточная точность" должна смениться на "Вы нашлись".
                    </li>
                    <li>Иконка (смайлик) вашего местоположения может перемещаться по карте по мере повышения точности
                        местоопределения
                    </li>
                    <li>Если при открытии карты значок "перевернутая капля" не появляется, значит переходите к разделу
                        "Как включить функцию местоопределения?"
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Как включить функцию местоопределения?</h2>
                <ol>
                    <li>Убедитесь, что в настройках устройства включена функция "Мое местоположение"-"Доступ к моим
                        геоданным" и стоит галочка "По спутникам GPS".
                        <img src="/images/android_settings_min.jpg" class="img-responsive" alt="Responsive image">
                    </li>
                    <li>Используйте любой браузер, кроме Google Chrome. Пока в нем не поддерживается навигация. Эта
                        проблема
                        будет устранена в ближайшее время.
                    </li>
                    <li>При открытии карты Вы должны были разрешить браузеру использовать Ваше местоположение. Если Вы
                        этого
                        не
                        сделали, то вручную измените или удалите все настройки для этого сайта в вашем браузере.
                    </li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}