<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>Изобильный</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/moment.min.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet">
  	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="css/mystyles.css" rel="stylesheet" type="text/css">
</head>
<style>
    body{
        padding:0px 0px 0px 0px;
        background: #e0f8ff;
}
    .fa, .glyphicon {
        font-size: 7em;
}
</style>

<body>
<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-8">
                <h1><span style="color:orangered">И</span>зобильный</h1>
            </div>
            <div class="col-xs-12 col-sm-4">
                <i class="fa fa-thumbs-up fa-fw"></i>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <h3>Выберите вкладку</h3>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
        <a href="#intown" aria-controls="intown"
         role="tab" data-toggle="tab"><h4>В городе</h4></a></li>
        <li role="presentation">
        <a href="#callable" aria-controls="callable"
         role="tab" data-toggle="tab"><h4>Вызов на дом</h4></a></li>
    </ul>

    <div class="tab-content" style="background: #ccecff">
        <div role="tabpanel" class="tab-pane fade in active" id="intown">
        {% for cat_group in categories %}
            <div class="row row-content">
                <div class="col-sm-2" align="center">
                    <i class="{{ cat_group.icon }}" ></i>
                    <br>
                    <h3>{{ cat_group.rus_title }}</h3>
                </div>
                <div class="col-sm-10" align="left">
                    {% for eng, rus in cat_group.categs.items() %}
                        <a class="btn btn-lg btn-primary btn-centered" href="{{ url_for('category', category_eng=eng) }}" role="button"> {{ rus }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane fade in active" id="callable">
        {% for cat_group in categories_callable %}
            <div class="row row-content">
                <div class="col-sm-2" align="center">
                    <i class="{{ cat_group.icon }}" ></i>
                    <br>
                    <h3>{{ cat_group.rus_title }}</h3>
                </div>
                <div class="col-sm-10" align="left">
                    {% for eng, rus in cat_group.categs.items() %}
                        <a class="btn btn-lg btn-primary btn-centered" href="{{ url_for('category', category_eng=eng) }}" role="button"> {{ rus }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="row row-footer">
        <div class="col-sm-6">
            <ul>
                <a href="{{ url_for('list_posts') }}" style="color: floralwhite"><li>Комментарии, пожелания, отзывы</li></a>
                <a href="{{ url_for('contacts') }}" style="color: floralwhite"><li>Контакты</li></a>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul>
                <a href="{{ url_for('traffic') }}" style="color: floralwhite"><li>Пробки</li></a>
                <a href="{{ url_for('list_orgs') }}" style="color: floralwhite"><li>Общий список</li></a>
            </ul>
        </div>
    </div>
{#    <div class="row row-content">#}
{#        <div class="col-sm-6" align="center">#}
{#            <h3>Где качественно и дешево обслужить свой автомобиль?</h3>#}
{#        </div>#}
{#        <div class="col-sm-6 dropup" align="center">#}
{#            <a class="btn btn-primary btn-centered" href="#" role="button">АВТО</a>#}
{#            <a href="#" class="btn btn-primary btn-centered dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1"#}
{#                         role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-car fa-fw"></i>#}
{#                         АВТО <span class="caret"></span></a>#}
{#                        <ul class="dropdown-menu dropdown-menu-right label-primary" aria-labelledby="dropdownMenu1">#}
{#                            <li><a href="#">Шиномонтаж</a></li>#}
{#                            <li><a href="#">Ходовая</a></li>#}
{#                            <li><a href="#">Электрика</a></li>#}
{#                            <li><a href="#">Покраска</a></li>#}
{#                            <li><a href="#">Мойка</a></li>#}
{#                        </ul>#}
{#        </div>#}
{#    </div>#}
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

{#<script type="text/javascript" src="js/angular.min.js"></script>#}
<!-- Yandex.Metrika informer -->
<div style="position: fixed; bottom: 0px; left: 0px">
<a href="https://metrika.yandex.ru/stat/?id=36077980&amp;from=informer"
target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/36077980/3_1_FFFFFFFF_EFEFEFFF_0_uniques"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" /></a>
</div>
    <!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter36077980 = new Ya.Metrika({
                    id:36077980,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/36077980" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</html>



