<!DOCTYPE html>
<html>
<head>
	<title>Изобильный</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/moment.min.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet">
  	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
  	<link href="css/mystyles.css" rel="stylesheet" type="text/css">
</head>
<style>
    body{
        padding:0px 0px 0px 0px;
        background: #ffaa80;
}
    .fa-beer {
        font-size: 10em;
}
</style>

<body>

<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-8">
                <h1>Изобильный</h1>
                <p>oktoberfest</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <i class="fa fa-beer fa-fw"></i>
            </div>
        </div>
    </div>
</header>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Данный сайт предназначен для одной единственной цели - ответить на главную загадку современности - вопрос, который
               не дает покоя сотням жителей города - ГДЕ РАЗЛИВАЮТ САМОЕ ВКУСНОЕ ПИВО?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pull-right">
                <h3>Возможно разгадка вас шокирует, и мир уже никогда для вас не будет прежним.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Вы готовы отправиться на поиски истины? В этом Вам помогут новейшие, передовые, суперсовременные технологии.</h3>
            </div>
        </div>

    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

<script type="text/javascript" src="js/angular.min.js"></script>

</html>



