<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>Изобильный</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/moment.min.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet">
  	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
  	<link href="css/mystyles.css" rel="stylesheet" type="text/css">
</head>
<style>
    body{
        padding:0px 0px 0px 0px;
        background: #e0f8ff;
}
    .fa-thumbs-up, .fa-thumbs-down {
        font-size: 7em;
}
</style>

<body>
<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-8">
                <h1>Изобил-Батл</h1>
{#                <p>КТО ЛУЧШИЙ В ГОРОДЕ?</p>#}
            </div>
            <div class="col-xs-12 col-sm-4">
                <i class="fa fa-thumbs-up fa-fw"></i>
                <i class="fa fa-thumbs-down fa-fw"></i>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row row-content">
        <div class="col-sm-6" align="center">
            <h3>Лучшая доставка ПИЦЦЫ в городе</h3>
        </div>
        <div class="col-sm-6" align="center">
            <a class="btn btn-lg btn-primary btn-centered" href="/pizza" role="button"><i class="fa fa-pie-chart fa-fw"></i> ПИЦЦА</a>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-sm-6 pull-right" align="center">
            <h3>Самое свежее и вкусное разливное ПИВО в городе</h3>
        </div>
        <div class="col-sm-6" align="center">
            <a class="btn btn-lg btn-primary btn-centered" href="#" role="button"><i class="fa fa-beer fa-fw"></i> ПИВО</a>
        </div>
    </div>
{#    <div class="row row-content">#}
{#        <div class="col-sm-6" align="center">#}
{#            <h3>Где качественно и дешево обслужить свой автомобиль?</h3>#}
{#        </div>#}
{#        <div class="col-sm-6 dropup" align="center">#}
{#            <a class="btn btn-primary btn-centered" href="#" role="button">АВТО</a>#}
{#            <a href="#" class="btn btn-primary btn-centered dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1"#}
{#                         role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-car fa-fw"></i>#}
{#                         АВТО <span class="caret"></span></a>#}
{#                        <ul class="dropdown-menu dropdown-menu-right label-primary" aria-labelledby="dropdownMenu1">#}
{#                            <li><a href="#">Шиномонтаж</a></li>#}
{#                            <li><a href="#">Ходовая</a></li>#}
{#                            <li><a href="#">Электрика</a></li>#}
{#                            <li><a href="#">Покраска</a></li>#}
{#                            <li><a href="#">Мойка</a></li>#}
{#                        </ul>#}
{#        </div>#}
{#    </div>#}
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

{#<script type="text/javascript" src="js/angular.min.js"></script>#}

</html>



