{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row" style="padding-top: 10px;">
            <div class="col-sm-6">
                <h4>Здесь вы можете почитать и оставить свои комментарии, отзывы и предложения.</h4>
            </div>
            <div class="col-sm-6" style="padding-top: 10px;">
                <a class="btn btn-primary" href="{{ url_for('new_post') }}" role="button">Добавить комментарий</a>
            </div>
        </div>
        <ul>
            {% for post in posts %}
            <li>
                {{ post.content }}
                <br>
                (автор: {{ post.author.nickname() }})
                <br>
                {{ momentjs(post.when).fromNow() }}
                ({{ momentjs(post.when).format('LLLL') }})
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}