{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-center coordinates"></h4>
                <h4 class="text-center accuracy"></h4>
                <div id="map" style="height: 500px;">Google Maps</div>
            </div>
        </div>
    </div>

    {#GOOGLE MAPS#}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgm2-ORIhtHlegZTKlPt2TqkOS7cQb2iM&callback=initMap"
            async defer></script>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 45.363690, lng: 41.695917},
          zoom: 14,
            disableDefaultUI: true,
          draggable: true,
            scrollwheel: false,
        });
      }
         navigator.geolocation.watchPosition(GetLocation, Error, {enableHighAccuracy: true});
        function GetLocation(location) {
{#            $('.coordinates').append(location.coords.latitude + ", " + location.coords.longitude);#}
            if (location.coords.accuracy > 20) {
                $('.accuracy').append("Переключите режим местоопределения в режим ТОЛЬКО GPS " +
                        "(Настройки->Местоположение->Режим->По спутникам GPS) и перегрузите страницу");
            } else {
                initialLocation = new google.maps.LatLng(location.coords.latitude,location.coords.longitude);
                map.setCenter(initialLocation);
                var coords = new google.maps.LatLng(location.coords.latitude, location.coords.longitude);
                var marker = new google.maps.Marker({
                  position: coords,
                  map: map,
                  title:"You are here!"
                });
            }
        }
        function Error () {
             handleNoGeolocation(browserSupportFlag);}
    </script>



{% endblock %}