{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            {# // Карта#}
            <div class="col-sm-6">
                <h4>Укажите улицу(переулок) или покажите место на карте.</h4>
                <div class="row" id="wrapper">
                    <div id="map">
                        Google Maps
                    </div>
                    <div id="floating-panel">
                            <input id="address" type="textbox" value="" placeholder="ул. Ленина, 10">
                            <input id="submit" type="button" value="Искать">
                    </div>
                    <div id="floating-panel2">
                            <input id="submit2" type="button" value="Определить свое местоположение на карте">
                    </div>
                </div>

                <div id="accuracy"></div>
            </div>

            <div class="col-sm-6">
                <form action="{{ url_for('new_org', category_eng = category_eng) }}" method="post" accept-charset="utf-8">
                    {{ form.csrf_token }}
                    <p>
                        <label for="title">Название</label>
                        {{ form.title|safe }}
                        {% if form.title.errors %}
                        <ul class="errors">
                            {% for error in form.title.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </p>
                    <p>
                        <label for="content">Категория</label>
                        {{ form.category(value=request.args.get('category_value'))|safe }}
                        {% if form.category.errors %}
                        <ul class="errors">
                            {% for error in form.category.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </p>
                    <p>
                        <label for="adres">Адрес</label>
                        {{ form.adres(readonly=true)|safe }}
                        <i>Воспользуйтесь интерактивной картой.</i><br>
                        {{ form.lat(readonly=true, size=10)|safe }}
                        {{ form.lng(readonly=true, size=10)|safe }}
                        {% if form.adres.errors %}
                        <ul class="errors">
                            {% for error in form.adres.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </p>
                    <p>
                        <label for="phonenumber">Номер телефона</label>
                        {{ form.phonenumber|safe }}
                        {% if form.phonenumber.errors %}
                        <ul class="errors">
                            {% for error in form.phonenumber.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </p>

                    <p><input type="submit" value="Сохранить"/></p>
                </form>
            </div>

        </div>
    </div>
    {#GOOGLE MAPS#}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgm2-ORIhtHlegZTKlPt2TqkOS7cQb2iM&callback=initMap"
            async defer></script>
    <script>
      var map;
      function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
              center: new google.maps.LatLng(45.37, 41.71),
              zoom: 13,
              minZoom: 13,
              disableDefaultUI: true,
              scaleControl: true,
              zoomControl: true,
              draggable: true,
              scrollwheel: true,
          });

          var geocoder = new google.maps.Geocoder();

          {#Listeners#}
          document.getElementById('submit').addEventListener('click', function () {
              geocodeAddress(geocoder, map);
          });
          document.getElementById('submit2').addEventListener('click', function () {
              navigator.geolocation.getCurrentPosition(GetLocation, Error, {enableHighAccuracy: true});
          });
          map.addListener('click', function (event) {
              geocodeLatLng(event.latLng);
          });
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value + ", Изобильный, Ставропольский край, Россия";
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
              document.getElementById("adres").value = address;
              document.getElementById("lat").value = results[0].geometry.location.lat();
              document.getElementById("lng").value = results[0].geometry.location.lng();
          } else {
            alert('Поиск не удался: ' + status);
          }
        });
      }

      function geocodeLatLng(location) {
          var geocoder = new google.maps.Geocoder();
          geocoder.geocode({'location': location}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
              if (results[0]) {
                  var address = results[0].formatted_address;
                  document.getElementById("adres").value = address;
                  document.getElementById("lat").value = location.lat();
                  document.getElementById("lng").value = location.lng();
                  var marker = new google.maps.Marker({
                          position: location,
                          map: map
                        });
                  var infowindow = new google.maps.InfoWindow();
                    infowindow.setContent(address);
                    infowindow.open(map, marker);
              } else {
                console.log('Ничего не найдено');
              }
            } else {
              console.log('Геопоиск не удался из-за: ' + status);
            }
          });
        }

        function GetLocation(location) {
{#            $('.coordinates').append(location.coords.latitude + ", " + location.coords.longitude);#}
            if (location.coords.accuracy > 20) {
                $('#accuracy').text("Точность местоопределения очень низкая. Пожалуйста, включите GPS и выйдите на улицу.");
            } else {

                initialLocation = new google.maps.LatLng(location.coords.latitude,location.coords.longitude);
                map.setCenter(initialLocation);
{#                var coords = new google.maps.LatLng(location.coords.latitude, location.coords.longitude);#}
                var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
                var marker = new google.maps.Marker({
                  position: initialLocation,
                    icon: image,
                  map: map,
                  title:"Вы находитесь здесь!"
                });
                var infowindow = new google.maps.InfoWindow();
                infowindow.setContent("Вы находитесь здесь!<br>Точность местоопределения: " + location.coords.accuracy);
                infowindow.open(map, marker);
                var geocoder = new google.maps.Geocoder();
{#                geocodeLatLng(coords);#}
                geocoder.geocode({'location': initialLocation}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                  if (results[0]) {
                      document.getElementById("adres").value = results[0].formatted_address;
                      document.getElementById("lat").value = initialLocation.lat();
                      document.getElementById("lng").value = initialLocation.lng();}}});
            }
        }

    </script>
{% endblock %}

{#TODO: Change form in Bootsrap style#}
{#TODO: Phonenumber make prefix +7 fixed#}