{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            {# // Карта#}
            <div class="col-sm-6">
                <h4>Укажите улицу(переулок) или покажите место на карте.</h4>
                <div class="row" id="wrapper">
                    <div id="map">
                        Google Maps
                    </div>
                    <div id="floating-panel">
                            <input id="address" type="textbox" value="" placeholder="ул. Ленина, 10">
                            <input id="submit" type="button" value="Искать">
                    </div>
                    <div id="selflocate_button">
                            <input id="my_location_button" type="button" value="Определить свое местоположение на карте">
                    </div>
                </div>

                <div id="accuracy"></div>
            </div>

            <div class="col-sm-6">
                <div class="row">

                <link rel="stylesheet" href="/css/tags.css">
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
                <script type="text/javascript" src="/js/tags.js"></script>
                <script type="text/javascript" src="/js/autofill.js"></script>
                <style type="text/css">
                    input {
                        outline: none;
                    }
                </style>

                <script>
                    $(function() {
                        var tags = "{{ all_tags | safe }}";
                        tags = tags.split(',');
                        $("#testInput").tags({
                            unique: true
                        }).autofill({data: tags});
                    });
                    $(document).ready(function() {
                      $('form input').keydown(function(event){
                        if(event.keyCode == 13) {
                          event.preventDefault();
                          return false;
                        }
                      });
                    });
                </script>

                <form action="{{ url_for('new_org', category_eng = category_eng) }}" method="post" accept-charset="utf-8">
                    {{ form.csrf_token }}
                    <input type="text" name="tags" id="testInput" value=""/>
                    <p>
                        <label for="title">Название</label>
                        {{ form.title|safe }}
                        {% if form.title.errors %}
                        <ul class="errors">
                            {% for error in form.title.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </p>
                    <p>
                        <label for="content">Категория</label>
                        {{ form.category(value=request.args.get('category_value'))|safe }}
                        {% if form.category.errors %}
                        <ul class="errors">
                            {% for error in form.category.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </p>
                    <p>
                        <label for="adres">Адрес</label>
                        {{ form.adres(readonly=true)|safe }}
                        <i>Воспользуйтесь интерактивной картой.</i><br>
                        {{ form.lat(readonly=true, size=10)|safe }}
                        {{ form.lng(readonly=true, size=10)|safe }}
                        {% if form.adres.errors %}
                        <ul class="errors">
                            {% for error in form.adres.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </p>
                    <p>
                        <label for="phonenumber">Номер телефона</label>
                        {{ form.phonenumber|safe }}
                        {% if form.phonenumber.errors %}
                        <ul class="errors">
                            {% for error in form.phonenumber.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </p>
                    <p>
                        <label for="rating">Рейтинг</label>
                        {{ form.rating|safe }}
                        {% if form.rating.errors %}
                        <ul class="errors">
                            {% for error in form.rating.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </p>
                    <p>
                        <label for="description">Описание</label>
                        {{ form.description(cols="40", rows="10")|safe }}
                        {% if form.description.errors %}
                        <ul class="errors">
                            {% for error in form.description.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </p>


                    <p><input type="submit" value="Сохранить"/></p>
                </form>

                </div>
            </div>

        </div>
    </div>

    {% include 'base_map.html' %}
{% endblock %}

{#TODO: Change form in Bootsrap style#}
{#TODO: Phonenumber make prefix +7 fixed#}