{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h3 class="text-center">В настоящее время в городе работают две доставки пиццы.</h3>
        <div id="map" style="height: 500px;">Google Maps</div>
        <div class="row">
            <div class="col-xs-12 col-sm-6" align="center">
                <h4 class="text-center">Мисато</h4>
            </div>
            <div class="col-xs-12 col-sm-6" align="center">
                <h4 class="text-center">Жар-птица</h4>
            </div>
        </div>
    </div>

    {#GOOGLE MAPS#}
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 45.367557, lng: 41.711604},
          zoom: 13,
            disableDefaultUI: true,
          draggable: false,
            scrollwheel: false,
        });
          // Маркер
          var posts = {{ posts | safe }};
          for (var i = 0; i < posts.length; i++) {
              if (posts[i].location) {
                  var myLatLng = {lat: posts[i].location.lat, lng: posts[i].location.lng};
                var iconBase = 'https://maps.google.com/mapfiles/ms/micons/';
                var marker1 = new google.maps.Marker({
                  position: myLatLng,
                  map: map
                });
                var infowindow1 = new google.maps.InfoWindow({
                content: posts[i].title});
                marker1.addListener('click', function() {
                infowindow1.open(map, marker1);
                 });
              }
          }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgm2-ORIhtHlegZTKlPt2TqkOS7cQb2iM&callback=initMap"
        async defer></script>

    <script>
        $(document).ready(function() {
            $('ul.navbar-nav').children().removeClass('active');
            $('i.fa-pie-chart').parent().parent().addClass('active');
        })
    </script>
{% endblock %}