{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h3 class="text-center">В настоящее время в городе работают две доставки пиццы.</h3>
        <div class="row" id="wrapper">
            <div id="map" style="height: 500px;">Google Maps</div>
            <div id="over_map">
                <a class="btn btn-sm btn-default" href="{{ url_for('new_org', category_value="Пицца")}}" role="button">Добавить объект</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6" align="center">
                <h4 class="text-center">Мисато</h4>
            </div>
            <div class="col-xs-12 col-sm-6" align="center">
                <h4 class="text-center">Жар-птица</h4>
            </div>
        </div>
    </div>

    {#GOOGLE MAPS#}
    <script>
      var map;
      var markers = [];
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 45.367557, lng: 41.711604},
          zoom: 13,
            disableDefaultUI: true,
          draggable: false,
            scrollwheel: false,
        });
          // Маркеры
          var posts = {{ posts | safe }};
          for (var i = 0; i < posts.length; i++) {
              if (posts[i].location) {
                  addMarker(posts[i]);
              }
          }
      }
        function addMarker(post) {
            var myLatLng = {lat: post.location.lat, lng: post.location.lng};
            var marker1 = new google.maps.Marker({
              position: myLatLng,
              map: map
            });
            var infowindow1 = new google.maps.InfoWindow({content: post.title + "<br>" + post.adres});
            marker1.addListener('click', function() {infowindow1.open(map, marker1);});
            markers.push(marker1);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgm2-ORIhtHlegZTKlPt2TqkOS7cQb2iM&callback=initMap"
        async defer></script>

    <script>
        $(document).ready(function() {
            $('ul.navbar-nav').children().removeClass('active');
            $('i.fa-pie-chart').parent().parent().addClass('active');
        })
    </script>
{% endblock %}