{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h3 class="text-center">В настоящее время в городе работают две доставки пиццы.</h3>
        <div id="map" style="height: 500px;">Google Maps</div>
        <div class="row">
            <div class="col-xs-12 col-sm-6" align="center">
                <h4 class="text-center">Мисато</h4>
            </div>
            <div class="col-xs-12 col-sm-6" align="center">
                <h4 class="text-center">Жар-птица</h4>
            </div>
        </div>
    </div>

    {#GOOGLE MAPS#}
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 45.367557, lng: 41.711604},
          zoom: 13,
            disableDefaultUI: true,
          draggable: false,
            scrollwheel: false,
        });
          // Маркер
            var myLatLng = {lat: 45.384486, lng: 41.721747};
            var iconBase = 'https://maps.google.com/mapfiles/ms/micons/';
            var marker1 = new google.maps.Marker({
              position: myLatLng,
              map: map,
{#              icon: iconBase + 'pie.png',#}
            });
            var infowindow1 = new google.maps.InfoWindow({
            content: 'Мисато'});
            marker1.addListener('click', function() {
            infowindow1.open(map, marker1);
             });
          // Маркер2
            var myLatLng = {lat: 45.373015, lng:  41.709585};
            var iconBase = 'https://maps.google.com/mapfiles/ms/micons/';
            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
{#              icon: iconBase + 'pie.png',#}
            });
            var infowindow = new google.maps.InfoWindow({
            content: 'Жар-птица'});
            marker.addListener('click', function() {
            infowindow.open(map, marker);
             });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgm2-ORIhtHlegZTKlPt2TqkOS7cQb2iM&callback=initMap"
        async defer></script>

    {# ЯНДЕКС КАРТЫ#}
    <script type="text/javascript">
        YMaps.jQuery(function () {
            // Создает экземпляр карты и привязывает его к созданному контейнеру
            var myMap = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);
            myMap.disableDragging();
            myMap.disableScrollZoom();
            myMap.disableMagnifier();
            // Устанавливает начальные параметры отображения карты: центр карты и коэффициент масштабирования
            myMap.setCenter(new YMaps.GeoPoint(41.695917, 45.363690), 14);
            var traffic = new YMaps.Traffic.Control({ showInfoSwitcher: true }, { infoLayerShown: false });
            traffic.setOptions({
              layerOptions: { // Опции слоя пробок
                hasHint: false,
                hasBalloon: false,
                cursor: YMaps.Cursor.INHERIT // значение INHERIT отменяет смену курсора над пробками
              },
              infoLayerOptions: { // опции слоя дорожных событий
                  hasHint: false,
                hasBalloon: false,
                cursor: YMaps.Cursor.HELP
              }
            });
            myMap.addControl(traffic);
            // включение показа пробок
            traffic.show();
            // Метка
            var s = new YMaps.Style();
            s.iconStyle = new YMaps.IconStyle();
            s.iconStyle.href = "http://maps.google.com/mapfiles/ms/micons/rail.png";
            var point = new YMaps.GeoPoint(41.695582, 45.363829);
            var placemark = new YMaps.Placemark(point, {style: s});
            placemark.name = "Ж/д переезд";
            myMap.addOverlay(placemark);
        });
    </script>

{% endblock %}