{% extends "base.html" %}
{% block content %}
    <h3>Удаление тэга</h3>
    <form name="form1" action="{{ url_for('secret_edit_tags') }}" method="post" accept-charset="utf-8">
        {{ form1.csrf_token }}
        <div class="form-group">
            <label for="tag">Удалить этот тэг отовсюду</label>
            {{ form1.tag(class_="form-control")|safe }}
        </div>
        <input class="btn btn-default" type="submit" name="btn" value="Удалить" onclick="return confirm('УДАЛИТЬ?')"/>
{#        <input class="btn btn-default" type="submit" name="btn" value="Заполнить" onclick="return confirm('ЗАПОЛНИТЬ?')"/>#}
    </form>
    <h3>Замена тэга</h3>
    <form name="form2" action="{{ url_for('secret_edit_tags') }}" method="post" accept-charset="utf-8">
        {{ form2.csrf_token }}
        <div class="form-group">
            <label for="tag_del">Удаляемый тэг</label>
            {{ form2.tag_del(class_="form-control")|safe }}
            <label for="tag_add">Добавляемый тэг</label>
            {{ form2.tag_add(class_="form-control")|safe }}
        </div>
        <input class="btn btn-default" type="submit" name="btn" value="Заменить" onclick="return confirm('ЗАМЕНИТЬ?')"/>
    </form>
    <h3>Дополнение тэгом, если есть определенный</h3>
    <form name="form3" action="{{ url_for('secret_edit_tags') }}" method="post" accept-charset="utf-8">
        {{ form3.csrf_token }}
        <div class="form-group">
            <label for="tag_del">Имеющийся тэг</label>
            {{ form3.tag_del(class_="form-control")|safe }}
            <label for="tag_add">Добавляемый тэг</label>
            {{ form3.tag_add(class_="form-control")|safe }}
        </div>
        <input class="btn btn-default" type="submit" name="btn" value="Дополнить" onclick="return confirm('ДОПОЛНИТЬ?')"/>
    </form>
{% endblock %}