{% extends "base.html" %}

{% block content %}

    <script src="/js/jquery.maskedinput.min.js"></script>
    <script>
        jQuery(function($){
            $("#phonenumber").mask("(999) 999-9999",{completed:function(){
            }});
            $("#phonenumber_static").mask("9-99-99",{completed:function(){
            }});
        });
    </script>
    <form action="{{ url_for('secret_query') }}" method="post" accept-charset="utf-8">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="phonenumber">Мобильные номера <i>(можно вбить до двух номеров)</i></label>
            <div class="input-group">
                <div class="input-group-addon">+7</div>
                {{ form.phonenumber(class_="form-control", size=70)|safe }}
            </div>
            {% if form.phonenumber.errors %}
            <ul class="errors">
                {% for error in form.phonenumber.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <input class="btn btn-default" type="submit" name="btn" value="Мобильный"/>
        <div class="form-group">
            <label for="phonenumber_static">Городские номера <i>(можно вбить до двух номеров)</i></label>
            <div class="input-group">
                <div class="input-group-addon">8(86545)</div>
                {{ form.phonenumber_static(class_="form-control",size=70)|safe }}
            </div>
            {% if form.phonenumber_static.errors %}
            <ul class="errors">
                {% for error in form.phonenumber_static.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <input class="btn btn-default" type="submit" name="btn" value="Городской"/>

    </form>
{% endblock %}